@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Dosis:wght@200&family=Rubik+Vinyl&family=Secular+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'bold', fangsong;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color:rgb(112, 216, 126);
    padding: 5px 60px;
}
nav h2,i{
    padding-top: 22px;
}
.heading{
    text-align: center;
    margin-top: 35px;

}
.item{
    width: 500px;
    border:2px solid black;
    margin:4px 4px;
    text-align: center;
}
.item img{
    position: relative;
    left: 27px;
}

section{
    display: flex; 
    flex-wrap: wrap;
    margin-left: 139px;
    
}